/* Game.css */

.street-view-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  /* filter: invert(1); */
}

.map-container {
  position: absolute;
  bottom: 6vh;
  right: 1vw;
  height: 30vh;
  width: 20vw;
  z-index: 2;
  border: 2px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  opacity: 0.5;
  /* filter: invert(16.01%) sepia(0.65%) saturate(62.37%) hue-rotate(0.00deg) brightness(155.24%) contrast(474.45%) */
}

.map-container.expanded {
  height: 60vh;
  width: 40vw;
  bottom: 6vh;
  right: 1vw;
  opacity: 1;
  /* filter: invert(16.01%) sepia(0.65%) saturate(62.37%) hue-rotate(0.00deg) brightness(155.24%) contrast(474.45%) */
}

.full-screen-map-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  /* filter: invert(16.01%) sepia(0.65%) saturate(62.37%) hue-rotate(0.00deg) brightness(155.24%) contrast(474.45%) */
}

.submit-button {
  width: 10vw;
  position: absolute;
  bottom: 1vh;
  right: 1vw;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.submit-button:active {
  transform: translateY(2px);
}

.results {
  position: absolute;
  bottom: 7vh; /* Slightly above the Play Again button */
  right: 1vw;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: white; /* White text */
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  z-index: 3; /* Ensure it's on top */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Slight shadow for visibility */
}

.custom-compass {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 200px;
  background-image: url('custom-compass.png'); /* Add your compass image */
  background-size: cover;
  transform-origin: center;
  z-index: 100;
}