html,
body {
  overflow: hidden;
}

.street-view-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.map-container {
  position: absolute;
  bottom: 10vh;
  right: 1vw;
  height: 30vh;
  width: 20vw;
  z-index: 2;
  border: 2px solid white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  opacity: 0.5;
}

.map-container.expanded {
  height: 60vh;
  width: 40vw;
  bottom: 10vh;
  right: 1vw;
  opacity: 1;
}

.full-screen-map-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.submit-button {
  width: 15vw;
  position: absolute;
  bottom: 1vh;
  right: 1vw;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.submit-button:active {
  transform: translateY(2px);
}

.results {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  z-index: 3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.results a {
  color: #5ab3f5;
  text-decoration: none;
  font-weight: bold;
}

.results a:hover {
  color: #77d7ff;
  text-decoration: underline;
}

.custom-compass {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20vh;
  height: 20vh;
  background-image: url("custom-compass.png");
  background-size: cover;
  transform-origin: center;
  z-index: 3;
}

/* Hide Google Maps keyboard shortcuts link */
.gm-bundled-control.gm-bundled-control-on-bottom {
  display: none !important;
}

/* Hide copyright text */
.gm-attr,
.gmnoprint {
  display: none !important;
}

/* Hide 'Report a problem' link */
.gm-style-cc {
  display: none !important;
}

/* Hide the Google logo */
div[style*="position: absolute; left: 0px; bottom: 0px;"] {
  display: none !important;
}
